<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RudyCon - @ViewBag.Title</title>

    <!-- Bootstrap
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet"> -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">

    @Styles.Render("~/css/bootstrap.css")
    @Styles.Render("~/css/modern-business.css")
    @Styles.Render("~/css/StyleSheet1.css")
    @Styles.Render("~/css/media.css")
</head>
<body>

        
            <div class="header">
                <center>
                    <img src="/images/logo1.png" width="320" height="320" class="navbar-btn">
                </center>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling
            <div class="panel-collapse collapse navbar-collapse navbar-ex1-collapse font_navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    
                        <li id="form">
                         @Html.ActionLink("Форма для заявок", "Index", "Form")
                          </li>
                    
                    <li id="contact">
                        @Html.ActionLink("Контакты", "Index", "Contact")
                    </li>
            </div>-->
            <!-- /.navbar-collapse -->
        
        <!-- /.container -->


    @RenderBody()

    <div class="footer">
        <div class="social col-lg-12 col-md-12 col-sm-12">
            <center>
                <div class="wrapper">
                    <ul>
                        <li class="vk">
                            <a href="https://vk.com/rudyconvitebskgroup"><i class="fab fa-vk fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/rudyconby/"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li class="youtube">
                            <a href="https://www.youtube.com/channel/UCMUbRXkKwUPuWQxOUwxNdJA"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </center>
        </div>

        <div class="text col-md-12 col-lg-12 col-sm-12">
            <center><h5> &copy; RudyCon 2018</h5></center>
        </div>
    </div>
    <!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
</body>
</html>